{% macro footer() %}
  <footer class="pv4 ph3 ph5-m ph6-l mid-gray">
    <div class="tc mt3 f6">
    	<h3 class="pa0">Le Musée des Montagnes</h3>
    	<span class="db">Hélène Leflaive</span>
    	<a class="db link" href="">Tel : 06 31 12 05 85</a>
    	<a class="db link" href="">lemuséedesmontagnes@gmail.com</a>
    </div>

    <div class="tc mt3">
    	<a><small class="f6">© 2016 <b class="ttu">Tiret du Six</b> {-} </small></a>
      <a href="" title="" class="f6 dib ph2 link mid-gray dim">crédits</a>
    </div>
  </footer>
 {% endmacro %}
 